<div class="category-container">
  <div class="letters">
    <span *ngFor="let letter of letters">{{ letter }}</span>
  </div>
  <button class="back-button" (click)="goToPlay()">
    <i class="fas fa-circle-chevron-left"></i> 
  </button>
  
  <h2 class="title"  style="cursor: default;">SELECT A CATEGORY</h2>
  <p class="subtitle"  style="cursor: default;">Best Response</p>

  <div class="categories" style="cursor: pointer;">
    <div *ngFor="let category of categories" class="category" (click)="goToLevels(category.id)">
      <div class="category-image" [ngClass]="getCategoryClass(category.name)"></div>
      <span class="image-title" style="cursor: default;">{{ category.name }}</span>


    </div>
  </div>  
  <!-- <div class="button-clear" (click)="clearLocalStorage()">Clear Progress Data <i class="fa-solid fa-trash-can-arrow-up"></i></div> -->
</div>

