<button class="back-button" (click)="closePage()">
    <i class="fas fa-circle-chevron-left"></i> 
  </button>
  <div class="select-mode-container">
    <div class="letters">
      <span *ngFor="let letter of letters">{{ letter }}</span>
    </div>
      
      
      <div class="title" *ngIf="!isMobile"  style="cursor: default;">Click to Review</div>
      <div class="modes">
        <div class="modess" (click)="playFlipcards()">
          <!-- <h3>Review:</h3> -->
          <h2 style="margin-top: 20px;">FLIP CARDS</h2>
          <div class="modess-tooltip">Click to play Flip Cards</div>
          <div class="flip-cards">
            <!-- Example grid of cards -->
            <div class="card" *ngFor="let card of cards">?</div>
          </div>
        </div>
      </div>
    </div>
    