
.select-mode-container{
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  color: #BB3E03;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFE2AD;
  overflow: hidden;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.letters {
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(6, 1fr); 
grid-auto-rows: 1fr; 
justify-items: center;
align-items: center;
pointer-events: none;
opacity: 0.2;
font-size: 100px; 
font-weight: 900px;
font-family: 'Itim', cursive; 
color: rgb(0, 18, 25);
z-index: 0;
}


.bg1{
  border-radius: 20px;
  width: 83px;
  height: 112px;
  background-image: url('btn-image/1.png');
}

.bg2{
  border-radius: 20px;
  width: 83px;
  height: 112px;
  background-image: url('btn-image/2.png');
}
.bg3{
  border-radius: 20px;
  width: 83px;
  height: 112px;
  background-image: url('btn-image/3.png');
}
.bg4{
  border-radius: 20px;
  width: 83px;
  height: 112px;
  background-image: url('btn-image/4.png');
}
.bg5{
  border-radius: 20px;
  width: 83px;
  height: 112px;
  background-image: url('btn-image/5.png');
}

.bg1:hover {
  transform: scale(1.1);
 
}

.bg2:hover {
  transform: scale(1.1);

}

.bg3:hover {
  transform: scale(1.1);

}
.bg4:hover {
  transform: scale(1.1);

}
.bg5:hover {
  transform: scale(1.1);
}

.card{
  border-color: rgba(255, 255, 255, 0.205);
  background: rgba(255, 255, 255, 0.175);
}

.modess:hover{
  background: #AE2012;
  
}

.mode:hover{
   background: #AE2012;
}

.custom-tooltip {
  position: fixed;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  border: transparent;
  color: white;
  font-size: 9px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 0.8s forwards;
  font-family: 'lilita one';
  text-transform: uppercase;
  z-index: 9999;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(5px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

.back-button {
position: absolute;
top: 50px;
left: 50px;
width: 100px;
height: 50px;
padding: 10px 20px;
background-color: transparent ;
border: none;
color: #BB3E03;
font-family: 'Passion One', sans-serif;
font-weight: 600;
font-size: 70px;
cursor: pointer;
border-radius: 15px;
z-index: 10;
transition: transform 0.3s ease;
}

.back-button:hover{
  transform: scale(1.30);
}

.title {
  padding: 20px;
  font-size: 80px;
  margin: 20px 0;
  z-index: 1;
  color: #BB3E03;
  font-family: 'Lilita One';
  text-transform: uppercase;
  background-color: transparent;
}



.modes {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
  z-index: 1; 
  cursor: pointer;
 
}

.mode {
  background: rgba(174, 32, 18, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 575px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.mode:hover {
  transform: scale(1.05);
}


.mode-tooltip {
  font-family: 'Lilita One', sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  pointer-events: none; 
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  position: fixed;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}


.mode:hover .mode-tooltip {
  opacity: 1;
}


.options:hover + .mode-tooltip {
  opacity: 0;
}

.modess {
  background: rgba(32, 102, 174, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 575px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.modess:hover {
  transform: scale(1.05);
}


.modess-tooltip {
  font-family: 'Lilita One', sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modess:hover .modess-tooltip {
  opacity: 1;
}


.flip-cards:hover + .modess-tooltip {
  opacity: 0;
}


.category-item {
  font-size: 5px;
}


.modess {
  background: rgba(174, 32, 18, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 575px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  
}


.mode h2 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  z-index: 1;
  font-family: 'lilita One', sans-serif;
  font-style: normal;
  letter-spacing: 1.5px;
}

.modess h2 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  z-index: 1;
  font-family: 'lilita One', sans-serif;
  font-style: normal;
  letter-spacing: 1.5px;
}

h2,h3 {
  cursor: default;
}

.mode h3 {
  font-size: 2em;
  color: white;
  padding-top: 5px;
  z-index: 1;
  font-family: 'Passion One', sans-serif;
  font-style: normal;

}

.modess h3 {
  font-size: 2em;
  color: white;
  padding-top: 5px;
  z-index: 1;
  font-family: 'Passion One', sans-serif;
  font-style: normal;

}

.options {
  flex-direction: column;
  gap: 2px;
  margin-bottom: 100px;
  z-index: 1;

}

.level-button {
  margin: 6px;
  width: 90px;
  height: 120px;
  background: #f8f8f8;
  color: black;
  border: none;
  border-radius: 25px;
  font-family: 'Passion One', sans-serif;
  font-size: 36px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  z-index: 1;
}

.level-button:hover {
  color: white;
  background-color: black;
}


.flip-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
  background-color: transparent;
}

.card {
  background: rgba(0, 18, 25, 0.3); 
  color: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.play-button {
  background: white;
  color: #AE2012;
  border: none;
  padding: 20px 30px;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 10;
  position: absolute;
  right: 20px;
  bottom: 25px;
  align-items: center;
}

.play-button:hover {
  transform: scale(1.3);
}

.play-icon {
  font-size: 1.2em;
  font-weight: bold;
  z-index: 1;
  background-color: transparent;
}



@media (min-width: 1024px) and (max-width: 1219px) {
  .select-mode-container {
    height: 120vh; 
  }
}


@media (min-width: 769px) and (max-width: 1023px) {
  .select-mode-container {
    height: 120vh;
  }
  .back-button {
    top: 10px;
    left: 10px;
    padding: 5px 10px;
  }
  .title {
    font-size: 4em;
    padding-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .back-button {
    top: 10px;
    left: 10px;
    padding: 5px 10px;
  }

  .title {
    padding-top: 50px;
    font-size: 50px;
    z-index: 10; 
    position: relative;
  }
  .select-mode-container{
    height: 120vh;
    padding-top: 60px;
  }

  .modes {
    flex-direction: column;
    gap: 15px;
  }

  .mode, .modess {
    width: 100%;
  }

  .options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .level-button {
    width: 70px;
    height: 90px;
  }

  .flip-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 80px;
    z-index: 1;
    position: relative;
    background-color: transparent;
  }

  .play-button {
    width: 60px;
    height: 60px;
    font-size: 1em;
    right: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

@media(max-width: 480px) and (min-width: 320px) {

  .select-mode-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #BB3E03;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFE2AD;
    padding-top: 40px; 
    height: 130vh;
  }

  .letters {
    font-size: 50px;
    grid-template-columns: repeat(5, 1fr); 
  }

  .back-button {
    top: 10px;
    left: 10px;
    padding: 5px 10px;
  }

  .title {
    padding-top: 50px;
    font-size: 35px;
    z-index: 10; 
    position: relative;
  }

  .modes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap;
    max-width: 100%; 
    margin-top: 40px;
  }

  .mode, .modess {
    background: rgba(174, 32, 18, 0.8);
    padding: 12px; 
    border-radius: 10px;
    width: 100%; 
    height: auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .mode h2, .mode h3, .modess h2, .modess h3 {
    font-size: 2em;
    padding-top: 10px;
  }

  .options {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
  }

  .level-button {
    width: 45px; 
    height: 55px; 
    font-size: 18px; 
  }

  .flip-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px;
    z-index: 1;
    position: relative;
    background-color: transparent;
    margin-bottom: 40px;
  }

  .card {
    background: rgba(0, 18, 25, 0.3);
    color: #fff;
    padding: 18px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .play-button {
    width: 50px;
    height: 50px; 
    font-size: 1em; 
    right: 5px;
    bottom: 5px;
    padding: 8px;
    border-radius: 50%;
  }

  .play-icon {
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
    background-color: transparent;
  }
}
