<div class="about-page">
  <div class="letters">
    <span *ngFor="let letter of letters">{{ letter }}</span>
  </div>
    <div class="content-container">
      <button class="close-button" (click)="closePage()"><i class="fa-solid fa-right-to-bracket"></i></button>
      <h2 style="cursor: default;">ABOUT PAGE</h2>
      <p  style="cursor: default;">
        This web app does not require a login. It is designed for instant access, allowing you to play immediately without needing to create an account.
         The system follows a Family Feud-style concept, where answers are ranked based on how often they are chosen. There are no right or wrong answers it all depends on how people perceive and respond to the questions.  The top answers change dynamically depending on how many times each response has been selected.
        <br><br>
        <i class='fas fa-exclamation-triangle' style='font-size:25px;color:rgb(0, 0, 0)'  style="cursor: default;">
        </i> Important Reminder: You can only answer once. If you reopen an answered scenario, you will only be able to view the top answers, and your response will not be counted.</p>
        <h3  style="cursor: default;">DEVELOPERS:</h3>
      <ul  style="cursor: default;">
        <li>Garcia, Louis Jae</li>
        <li>Limiac, Joshua Ezekiel</li>
        <li>Macam, Joshua Emmanuel</li>
        <li>Rabano, Rymbrent Maximillian</li>
      </ul>
    </div>
  </div>
  